.container {
  max-width: 400px;
  max-height:450px;
  margin:0 auto;
  background-color:  0 auto;

}

.expense-container {
  display:flex;
  justify-content: space-around;
  background-color: white;
  box-shadow:0 0 10px gray;
}

.transaction-form input {
  width:100%;
  margin: 10px 0;
  padding:5px 5px;
}
.transaction-list {
  margin:0;
  padding:0;
}
.transaction-list>li {
  display:flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding:10px 5px;
  margin:5px 0;
  background-color: white;
  border-radius:4px;
}
.transaction-list>li:hover {
  background-color: yellow;
}
span.x {
  background-color: red;
  width:5%;
  text-align:center;
  visibility:hidden;
}
.transaction-list>li:hover span.x {
  visibility: visible;
}
#clr:hover {
  background-color: red;
}